.btn-add_cart {
    padding: 8px 14px;
    @include btn;
    overflow: hidden;
    position: relative;

    .addcart-icon {
        position: absolute;
        transform: translate(-10px, 25px);
        transition: all 0.2s ease;
    }

    &:hover p {
        transform: translate(0, -25px);
    }

    &:hover .addcart-icon {
        transform: translate(-10px,-20px);

    }

    p {
        transition: all 0.2s ease;
    }
}

button {
    cursor: pointer;
}

.form-btn{
    @include btn;
    padding: 8px 30px;

 }