@import "./mixins";
// color

$primary-color:#EEE3E1;
$border-color:#E3E6ED;
$secondary:#F5F7FA;
$grey:#EFF2F6;
$grey2:#525b75;
$theme:#676767;
$light-blue:#9FA6C0;
$head-color:white;
$transparent:transparent !important;
$danger:red;
$black:rgb(0,0,0);
$orange:#FF851B;

// font



