.contact-list{
    list-style-type: none;
}

body {
    min-height:80vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: auto;
  }

 

  .footer-list-2 li a{
    color:#575B75 !important;
  }


    