.banner{
   width:100% !important;
   height: 600px !important;
   transition: all 0.5s !important;

   &:hover{
    transform: scale(1.1);
   }
}

.carousel-indicators{
   bottom:-50px !important;
}

.carousel-indicators button{
   width:8px !important;
   margin-left: 10px !important;
   height:8px !important;
   border-radius:50%;
   border:1px solid grey !important;
}

.carousel-indicators button.active{
   background-color:black;
   border:1px solid black !important;
}

// swiper

.swiper-button-prev:after, .swiper-button-next:after {
  
   color: black !important;
   font-size: 20px !important;
}

.swiper-button-prev:after {
   transform: translate(-18px, 0px) !important;
}

.swiper-button-next:after {
   transform: translate(18px, 0px) !important;
}

.swiper-pagination{
bottom: 0px !important;
}

.swiper-pagination-bullet{
   border:1px solid grey !important;
}

.swiper-pagination-bullet-active{
   background-color:black !important;
   border:1px solid black !important;
}

.trending-brands{
   width:100%;
}

.productname{
   overflow: hidden;
   height: 17px;
}


.product-image{
   width: 100% !important;
height: auto !important;   }

.sale{
   position: absolute;
   left: 0;
   top: 0;
}

.under-price{
   width: 100%;
   transition: all 0.5s ease;
   &:hover{
      transform: scale(1.1);
   }
}
   
.product-icons{
   position: absolute;
   top: 10px;
   right: 0px;
   box-shadow: 1px 1px 1px rgba(0,0,0,0.1);;
   transform: translate(25px,0);
   transition: all 0.5s ease;
   opacity: 0;
}

.product-grid:hover .product-icons {
   opacity:1;
   transform:inherit;
}




.product-grid:hover .product-image.gallery{
   opacity:0;
   transition:all 1s ease-out;
}

.product-grid:hover .gallery-pic{
   opacity:1;
   transform:scale(1);
}

.product-image.gallery-pic{
   position:absolute;
   top:0;
   left:0;
   transform:scale(0.8);
   opacity:0;
   transition:all 1s ease;
}